# Configurações do Banco de Dados (PostgreSQL)
POSTGRES_DB=clinica_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=senha_super_segura_do_banco

# Configurações do Redis
REDIS_PASSWORD=senha_super_segura_do_redis

# Configurações Evolution API
EVOLUTION_SERVER_URL=http://localhost:8080
EVOLUTION_API_KEY=apikey_secreta_evolution
WEBHOOK_GLOBAL_URL=http://clinica-bot:8000/webhook

# Configurações Chatwoot
CHATWOOT_FRONTEND_URL=http://localhost:3000
CHATWOOT_SECRET_KEY=substitua_por_uma_string_aleatoria_longa

# Configurações Bot Python (FastAPI)
ALLOW_SEND=true
JWT_SECRET=outra_string_secreta_para_jwt
